<form action='/api/sessions/login' method='POST'>
  <input id='email' name='email' type='text' placeholder='email' />
  <input id='password' name='password' type='text' placeholder='password' />
  <input type='submit' value='login' />
</form>
<a href='/register'>aun no tengo cuenta..</a>